* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /*파이어폭스 스크롤 디자인*/
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(var(--vh) * 100);
  /* background-color: #f4f7fb; */
  background-color: #f1f3f5;
  /* overflow: overlay; */
  overflow-y: auto;
}
/*폼 공통*/
.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 1rem 0;
  width: 100%;
  /* margin: auto; */
  /* border: 1px solid rgba(46, 43, 43, 0.5); */
  /* border-radius: 0.25rem; */
  background-color: #fff;
  /* padding: 0.25rem 0.5rem; */
}
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.form-title {
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  /**/
  padding: 0 0.25rem;
  background-color: #fff;
}

.form-row-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid rgba(46, 43, 43, 0.5);
  border-radius: 0.5rem;
}
.form-center {
  display: flex;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0 0.25rem;
}

.form-label {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0;
  width: 100%;
  font-weight: bold;
}
.form-label .form-icon {
  margin-right: 0.5rem;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0.5rem;
  outline: none;
  border: 1px solid rgba(46, 43, 43, 0.5);
  border-radius: 0.25rem;
}
.form-center input {
  font-size: 0.85rem;
}
input:focus,
textarea:focus {
  border: 1px solid #000;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0.25rem;
  margin: 0.5rem 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .section {
    padding: 0.25rem;
  }
  .form-title {
    padding: 1rem 0.75rem;
    font-size: 1.6rem;
  }
  .form {
    padding: 0 0.25rem;
  }
  .form-center {
    flex-direction: column;
  }
  .form-label {
    margin-bottom: 0.25rem;
  }

  .form-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0.25rem 0.5rem;
  }
  .form-title {
    padding: 1rem;
    font-size: 1.7rem;
  }
  .form {
    padding: 0 0.5rem;
  }
  .form-label {
    flex: 0 0 200px;
  }

  .form-btn {
    font-size: 1.1rem;
  }
}
