.form-section {
  justify-content: center;
  align-items: center;
  /* margin: 1rem 0; */
  background-color: #f1f3f5;
}
.register-section {
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #f1f3f5; */
  /* border: 1px solid red; */
}
.register-container {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid rgba(46, 43, 43, 0.5);
  border-radius: 0.25rem;
  background-color: #fff;
}
.register-form {
  /* border: 1px solid red; */
}
.register-row-wrapper {
  align-items: center;
}

.form-center input,
.form-select {
  font-size: 0.85rem;
}
.form-select {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.75rem 0.25rem; */
  padding: 0.75rem 0.5rem;
  width: 100%;
  border: 1px solid rgba(46, 43, 43, 0.5);
  border-radius: 0.25rem;
  outline: none;
  color: #000;
  /*select 모바일에서 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
}

input[type="radio"] {
  display: none;
}
.form-center-identity {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* cursor: pointer; */
  /* border: 2px solid blue; */
}
.group {
  margin: 0;
  padding: 0;
}
.group-gender,
.group-nationality {
  flex: 1;
  border: 1px solid rgba(46, 43, 43, 0.5);
  border-radius: 0.25rem;
  /* border: 2px solid red; */
}
.group-gender {
  margin-right: 0.25rem;
}
.group-nationality {
  margin-left: 0.25rem;
}
.radio-label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}
.radio-male,
.radio-korean {
  /* border-right: 0.5px solid rgba(46, 43, 43, 0.7); */
}
.radio-label span {
  opacity: 0.5;
}
/* .radio-label {
  opacity: 0.5;
} */
.radio-label input:checked + span {
  width: 100%;
  text-align: center;
  opacity: 1;
}
/* .radio-label input:checked {
  width: 100%;
  text-align: center;
  opacity: 1;
} */
@media screen and (max-width: 319px) {
  .form-center-identity {
    flex-direction: column;
  }
  .group {
    margin: 0;
  }
  .group-gender {
    margin-bottom: 0.125rem;
  }
  .group-nationality {
    margin-top: 0.125rem;
  }
}
@media screen and (max-width: 767px) {
  /* .register-section {
    max-width: 500px;
  } */
  .form-section {
    /* max-width: 500px; */
  }
  .register-container {
    max-width: 500px;
  }
  .form-center input,
  .form-select {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 768px) {
  /* .register-section {
    max-width: 600px;
  } */
  .form-section {
    /* max-width: 600px; */
  }
  .register-container {
    max-width: 600px;
  }
  .form-center input,
  .form-select {
    font-size: 0.95rem;
  }
}
