.layout-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f1f3f5; */
}

.layout-container {
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  background-color: #fff;
}
.find-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.75rem;
  font-weight: bold;
}

.find-links-wrapper a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0.25rem;
  height: 100%;
  border-color: transparent;
  cursor: pointer;
}

.layout-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}
.find-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.find-row {
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}
.find-row label {
  padding: 0.5rem 0.25rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}
.find-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .layout-container {
    max-width: 400px;
    min-height: 500px;
    max-height: 550px;
  }

  .find-links-wrapper a {
    padding: 0.5rem 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  .layout-container {
    max-width: 450px;
    min-height: 550px;
    max-height: 600px;
  }

  .find-links-wrapper a {
    padding: 0.75rem 0.5rem;
  }
}
